.section-1{
  display: flex;
  justify-content: center;

}
.card-1 {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 10px;
}

.card-header-1 {
  background-color: #333;
  padding: 16px;
  text-align: center;
}

.card-header-1 .text-header {
  margin: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.card-body-1 {
  padding: 16px;
}

.form-group-1 {
  margin-bottom: 10px;
}

.form-group-1 label {
  display: block;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 1px;
}

.form-group-1 input[type="text"],
.form-group-1 input[type="email"],
.form-group-1 input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* login */
.section-2{
  display: flex;
  justify-content: center;
}
.section2{

  width: 500px;
}

.form-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 2.5em;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
}



.heading-2 {
  color: black;
  padding-bottom: 2em;
  text-align: center;
  font-weight: bold;
}

.input-2 {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;
}

.form-2 .btn {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}




